<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MILENEM"
        tools:targetApi="31">
        <activity
            android:name=".redacoesActivity"
            android:exported="false" />
        <activity
            android:name=".redacao3Activity"
            android:exported="false" />
        <activity
            android:name=".redacao22Activity"
            android:exported="false" />
        <activity
            android:name=".maisActivity"
            android:exported="false" />
        <activity
            android:name=".competencia5Activity"
            android:exported="false" />
        <activity
            android:name=".competencia4Activity"
            android:exported="false" />
        <activity
            android:name=".competencia3Activity"
            android:exported="false" />
        <activity
            android:name=".competencia2activity"
            android:exported="false" />
        <activity
            android:name=".competencia1Activity"
            android:exported="false" />
        <activity
            android:name=".Dicas"
            android:exported="false" />
        <activity
            android:name=".Prova"
            android:exported="false" />
        <activity
            android:name=".Competencias"
            android:exported="false" />
        <activity
            android:name=".Redacao"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>